* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region Utility */

.container {
    width: 70%;
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col_4 {
    width: calc((100% / 12)* 4);
}

.col_6 {
    width: calc((100% / 12)* 6);
}

.center {
    text-align: center;
}

.bg_color_orange {
    background-color: #ff6900;
}

.bg_color_white {
    background-color: white;
}

.bg_color_black {
    background-color: black;
}

.bg_color_red {
    background-color: red;
}

.bg_color_green {
    background-color: #008000;
}

.color-white {
    color: white;
}

.debug {
    background-color: indigo;
}

/* #endregion Utility */

header {
    height: 70px;
    /* VEDI SE SI PUO EVITARE QUESTA COSA DELL'ALTEZZA */
}

a {
    text-decoration: none;
    color: white;
}

.body_type,
.personal_area {
    margin: 1.5rem 0;

}

.boolean_logo {
    height: 20%;
    margin: 1rem;
}

.personal_area {
    text-align: right;
}


.card>img {
    width: 100%;
}