* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region Utility */

.container {
    width: 70%;
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col_4 {
    width: calc((100% / 12)* 4);
}

.col_6 {
    width: calc((100% / 12)* 6);
}

.center {
    text-align: center;
}

.spacing {
    margin: 12px 0 0 0;
}

.bg_color_orange {
    background-color: #ff6900;
}

.bg_color_white {
    background-color: white;
}

.bg_color_black {
    background-color: black;
}

.bg_color_red {
    background-color: red;
}

.bg_color_green {
    background-color: #008000;
}

.color-white {
    color: white;
}

.debug {
    background-color: indigo;
}

/* #endregion Utility */

body {
    font-family: 'Yantramanav', sans-serif;
}

header {
    height: 70px;
    /* VEDI SE SI PUO EVITARE QUESTA COSA DELL'ALTEZZA */
}

a {
    text-decoration: none;
    color: white;
}

.body_type,
.personal_area {
    margin: 1.5rem 0;
    font-size: 16px;
}

.boolean_logo {
    height: 20%;
    margin: 1rem;
}

.personal_area {
    text-align: right;
}

.icons {
    margin-left: 10px;
}

.card>img {
    width: 100%;
}

.card {
    margin: 2rem 0.5rem;
}

.brand,
.cloth_description,
.price,
.original_price {
    line-height: 14px;
    font-size: 14px;
}

.price {
    color: red;
    font-weight: 700;
}

.original_price {
    text-decoration: line-through;
    color: black;
}























.info {
    margin: 0.5rem 0 1.5rem 0;
    font-size: 12px;
}

.info_links {
    margin-right: 1rem;
}

.socials {
    margin-top: 1rem;
    text-align: right;
}

.fa-brands {
    padding: 3px;
    margin: 0.5rem 0 1.5rem 0;
}