* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region Utility */

.container {
    width: 70%;
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col_4 {
    width: calc((100% / 12)* 4);
}

.col_6 {
    width: calc((100% / 12)* 6);
}

.center {
    text-align: center;
}

.spacing {
    margin: 12px 0 0 0;
}

.bg_color_orange {
    background-color: #ff6900;
}

.bg_color_black {
    background-color: black;
}

.color-white {
    color: white;
}

.debug {
    background-color: indigo;
}

/* #endregion Utility */

body {
    font-family: 'Yantramanav', sans-serif;
}

header {
    height: 70px;
    /* VEDI SE SI PUO EVITARE QUESTA COSA DELL'ALTEZZA */
}

a {
    text-decoration: none;
    color: white;
}

.body_type,
.personal_area {
    margin: 1.5rem 0;
    font-size: 16px;
}

.boolean_logo {
    height: 20%;
    margin: 1rem;
}

.personal_area {
    text-align: right;
}

.icons {
    margin-left: 10px;
}

.card>img {
    width: 100%;
}

.card {
    margin: 2rem 0.5rem;
    position: relative;
}

.brand,
.cloth_description,
.price,
.original_price {
    line-height: 14px;
    font-size: 14px;
}

.price {
    color: red;
    font-weight: 700;
}

.original_price {
    text-decoration: line-through;
    color: black;
}

.sales{
    color: white;
    font-size: 14px;
    background-color: #ff0000;
    height: 20px;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 100px;
    padding: 2px 5px;
    z-index: 98;
}

.sustainable{
    color: white;
    font-size: 14px;
    background-color: #008000;
    height: 20px;
    width: 80px;
    position: absolute;
    left: 44px;
    bottom: 100px;
    padding: 2px 5px;
    z-index: 99;
}

.favourite{
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 100;
}

.heart{
    font-size:24px;
    padding: 12px;
}

.heart:hover{
    color: red;
}

.first_version{
    position:relative;
    z-index: 50;
}

.alt_version{
    position: absolute;
    top:0;
    left: 0;
    z-index: 40;
}

.first_version:hover{
    opacity: 0;
}

.info {
    margin: 0.5rem 0 1.5rem 0;
    font-size: 12px;
}

.info_links {
    margin-right: 1rem;
}

.socials {
    margin-top: 1rem;
    text-align: right;
}

.fa-brands {
    padding: 3px;
    margin: 0.5rem 0 1.5rem 0;
}